
@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div class="card-body">
        <p>
            <a href="@Url.Action("LeaderMonthly")" class="btn btn-success">
                <i class="fas fa-plus"></i> Báo cáo tháng cán bộ
            </a>
            <a href="@Url.Action("MealMonthly")" class="btn btn-success">
                <i class="fas fa-plus"></i> Báo cáo tháng bộ phận
            </a>
        </p>
    </div>
</div>

